/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* element */
body {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  font-family: sans-serif;
  line-height: 1.5rem;
}

ul {
  padding: 0 1rem;
}

a {
  color: blue;
}

/* layout */
.layout-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 60ch;
}
.layout-stack-4>*+* {
  margin-top: 1rem;
}
.layout-stack-h-1>*+* {
  margin-left: 0.25rem;
}

/* utility */
.m-4 {
  margin: 1rem;
}
.p-4 {
  padding: 1rem;
}
.p-8 {
  padding: 2rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.bg-transparent {
  background-color: transparent;
}
.bg-primary {
  background-color: #ffffff;
}
.border-none {
  border-style: none;
}
.border-solid {
  border-style: solid;
}
.border-1 {
  border-width: 1px;
}
.border-color-default {
  border-color: silver;
}

/* pattern */
.pattern-button-base {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  color: #666;
}
.pattern-button-selected {
  background-color: cyan;
}

/* tiptap */
.tiptap {
  padding: 1rem;
  hr {
    border: none;
    border-top: 1px solid silver;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    &.ProseMirror-selectednode {
      border-top: 1px solid blue;
    }
  }
}
ul[data-type="taskList"] {
  list-style: none;
  margin-left: 0;
  padding: 0;
  li {
    align-items: flex-start;
    display: flex;
    > label {
      margin-right: 0.5rem;
    }
  }
  input[type="checkbox"] {
    cursor: pointer;
  }
}
.tiptap p.is-empty::before {
  color: silver;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
