*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  font-family: sans-serif;
  line-height: 1.5rem;
}

ul {
  padding: 0 1rem;
}

.layout-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 60ch;
}
.layout-stack-4>*+* {
  margin-top: 1rem;
}

.p-8 {
  padding: 2rem;
}
